body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: #060817;
	color: #fff;
}
header {
	background-image: url('https://www.transparenttextures.com/patterns/dark-stripes.png');
	background-repeat: repeat;
	color: #fff;
	display: flex;
	/* float: right; */
	justify-content: space-between;
	padding: 10px;
	transition: background-color 0.3s ease;
}

footer {
	background-color: #060817;
	background-repeat: repeat;
	color: #fff;
	padding: 10px;
	text-align: center;
	transition: background-color 0.3s ease;
}
.container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	max-width: 1200px;
	margin: 0 auto;
  }
  
  .logo {
	float:left;
  }
  
  nav {
	display: flex;
	align-items: center;
	float: right;
  }
  
  .nav-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .nav-links li {
	margin-left: 20px;
  }
  
  .nav-links li a {
	color: #fff;
	text-decoration: none;
	font-size: 1rem;
	transition: all 0.3s ease;
  }
  
  .nav-links li a:hover {
	color: #f7c08a;
  }
  
  .burger {
	display: none;
	cursor: pointer;
  }
  
  .burger .line {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
	transition: all 0.3s ease;
  }
section {
	transition: background-color 0.3s ease;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	height: 100%;
}
#Intro {
	display:flex;
	padding: 100px;
   

}
#About {
  display: flex;
  background: linear-gradient(to bottom, #060817, #31014a);


}
#Education{
	padding: 50px;
	background: linear-gradient(to top, #060817, #31014a);
	

}
.profile-img {
	max-height: 300px;
	max-width:250px;
	padding: 10px 40px 10px 0px;
    float:right;
}

main {
	margin: 20px;
}

h2 {
	margin-bottom: 10px;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}




/* Dark mode styles */
body.dark-mode {
	background-color: #222;
}

header.dark-mode {
	background-color: #222;
	color: #fff;
}

main.dark-mode {
	background-color: #333;
}

footer.dark-mode {
	background-color: #222;
}
.animate-heading {
	animation: fadein 4s ease-out;
	color:#8c22c4;
	font-size: 70px;
	
  }
  
  @keyframes fadein {
	from {
	  opacity: 0;
	  transform: translateY(-20px);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  .topnav {
	overflow: hidden;
	float:right !important
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #ffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 16px;
  }
  
  .topnav a:hover {
	background-color:   #31014a;
   color: white;
   font-weight: bolder;
   border-radius: 30%;
   border-spacing: 5px;
  }
  
  .topnav a.active {
	background-color:   #31014a;
   color: white;
   font-weight: bolder;
   border-radius: 30%;
   border-spacing: 5px;
  }
  
  .topnav .icon {
	display: none;
  }
  .topnav .close{
	display: none;
  }
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .content {
	padding-top: 60px;
  }
  
  @media screen and (max-width: 600px) {
	body {
		font-size: 15px;
	}
	.topnav a{display: none;}
	.topnav a.icon {
	  float: right;
	  display: flex;
	}
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
		display: none;
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	#Intro {
		display:block;
		padding: 10px;
			
	}
	#About{
		display: block;
	}
	.animate-heading{
	  font-size: 40px;

	}
	.profile-img{
		padding: 20px;
	}
	
	.illustration{
		height: 200px;
		width:200px;
		max-height: 300px;
		max-width: 600px;
		overflow-x: hidden;
	
	}
	#Education{
		padding: 10px;
	}
  }
  
